html {
    cursor: url(./images/cursorIso.png) 10 10, auto;
}


@media only screen and (max-width: 600px) {
    html {
        font-size: 11px;
    }
    #wrapper {
        overflow-x: hidden;
        position: relative;
    }
}
@media only screen and (min-width: 600px) {
    html {
        font-size: 12px;
    }
    #wrapper {
        overflow-x: hidden;
        position: relative;
    }
}
@media only screen and (min-width: 768px) {
    html {
        font-size: 13.5px;
    }
}
@media only screen and (min-width: 992px) {
    html {
        font-size: 15px;
    }
}
@media only screen and (min-width: 1200px) {
    html {
        font-size: 16.5px;
    }
}


#why {
    margin: auto 1rem;
}
#me {
    width: 100%;
    height: auto;
}
.contact {
    width: 90%;
    margin: auto;
}

#navbarSupportedContent img {
    width: 32px;
    height: 32px;
    transition: scale 0.25s;
    scale: 1;
}
#navbarSupportedContent img:hover {
    transition: scale 0.25s;
    scale: 1.35;
}
.nav-item {
    display: none;
}
.b {
    background-color: rgb(41, 41, 41);
    border: 0.35rem solid #A5D9A6;
    background-color: rgb(0, 0, 0);
    color: rgb(216, 216, 216);
    box-shadow: 0px 10px 4px black;
    padding: 0.5rem;
    transition: transform 0.1s, box-shadow 0.1s;
    cursor: url(./images/pointerIso.png) 10 10, pointer;
}

.b:hover {
    background-color: rgb(0, 0, 0);
    transition: transform 0.1s, box-shadow 0.1s;
    transform: translateY(-4px);
    color: rgb(255, 255, 255);
    box-shadow: 0px 14px 4px black;
}
.b:active {
    background-color: rgb(161, 161, 161);
    transform: translateY(4px);
    color: rgb(54, 54, 54);
    box-shadow: 0px 10px 4px black;
    transition: transform 0.1s, box-shadow 0.1s;
    cursor: url(./images/pointerIso.png) 10 10, pointer;
}

main {
    top: 75px;
    position: relative;
}
hr {
    background-color: white;
}
#email {
    display: none;
    color: white;
    padding: 16px 0;
    margin: auto;
}
.proj,
.contact {
    display: none;
    margin: auto;
}
.link {
    font-size: 1rem;
}
.fun {
    color: #A5D9A6;
    cursor: url(./images/pointerIso.png) 10 10, pointer;
}
.projects {
    margin: 4rem 2rem;
    text-align: center;
}
#gallery {
    margin-top: 4rem;
    text-shadow: 0px 2px 5px rgb(255, 143, 255);
}
.carousel {
    border: 0.25rem solid #A5D9A6;
    border-radius: 20px;
}
.carousel-inner {
    border-radius: 20px;
}
.abstruse{
    text-shadow: 0px 2px  rgb(56, 250, 56);
}
#webdev {
    color: rgb(56, 250, 56);
}
.jumbotron {
    display: none;
}
#about {
    text-shadow: 0px 2px 3px rgb(255, 143, 255);
    width: 50%;
}
#quote {
    color: #bc4be6;;
}
a {
    color: #A5D9A6;
    cursor: url(./images/pointerIso.png) 10 10, pointer;
}
a:active {
    cursor: url(./images/pointerIso.png) 10 10, pointer;
}
a:hover {
    color: #fffad4;
}
.toptext {
    color: #bc4be6;
}
#home {
    color: #f0e69a;
}
.navbar button{
    background-color: #172017;
}
