@media only screen and (max-width: 600px) {
html {
    font-size: 12px;
}

}
@media only screen and (min-width: 600px) {
html {
    font-size: 14px;
}

}

#wrapper {
    overflow-x: hidden;
    position: relative;
}

#why {
    margin: auto 1rem;
}
#me {
    width: 100%;
    height: auto;
}
.contact {
    width: 90%;
    margin: auto;
}

button {
    border: 0.35rem solid #A5D9A6;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 10px 4px black;
    padding: 0.5rem;
}

button:hover {
    background-color: rgb(41, 41, 41);
    color: rgb(216, 216, 216);
}
button:active {
    background-color: rgb(161, 161, 161);
    transform: translateY(3.5px);
    color: rgb(54, 54, 54);
    box-shadow: 0px 6.5px 4px black;
}

main {
    top: 75px;
    position: relative;
}
.proj,
.contact {
    display: none;
    margin: auto;
}
.link {
    font-size: 1rem;
}
.fun {
    color: #A5D9A6;
    cursor: pointer;
}
.projects {
    margin: 4rem 2rem;
    text-align: center;
}
#gallery {
    margin-top: 4rem;
}
.carousel {
    border: 0.25rem solid #A5D9A6;
    border-radius: 20px;
}
.carousel-inner {
    border-radius: 20px;
}
.abstruse{
    text-shadow: 0px 2px  rgb(56, 250, 56);
}
#webdev {
    color: rgb(56, 250, 56);
}
#about {
    text-shadow: 0px 2px 5px rgb(255, 143, 255);
}
a {
    color: #A5D9A6;
}
a:hover {
    color: #fffad4;
}
.toptext {
    color: #bc4be6;
}
#home {
    background-color: #172017;
    color: #f0e69a;
}
